{% extends 'base_generic.html' %}
{% load chunks %}
{% load i18n %}

{% block header %}
  <h1>{% trans "Pilots Informations" %}</h1>
{% endblock %}

{% block content %}
<h1>{% trans "General Organistaion" %}</h1>
{% get_chunk 'pilot_info_general' as general_info %}
{% if general_info %}
  {{ general_info.content | safe }}
{% endif %}
<h1>{% trans "In Flight Arrival" %}</h1>
{% get_chunk 'pilot_info_arrival' as arrival %}
{{arrival.content | safe }}
<h1>{% trans "Departure" %}</h1>
{% get_chunk 'pilot_info_departure' as departure %}
{{ departure.content | safe}}

<h1>{% trans "Paramotor" %}</h1>

<h1>{% trans "Planes" %}</h1>
{% endblock %}
