{% extends 'base_generic.html' %}
{% load chunks %}
{% load i18n %}
{% load render %}
{% load static %}

{% block header %}
  <h1>{% trans "str_Pilots_information" %}</h1>
{% endblock %}

{% block content %}
<h1>{% trans "str_General_organisation" %}</h1>
{% get_chunk 'pilot_info_general' as general_info %}
{{ general_info.content | safe }}

<h1>{% trans "str_Microlight_in_flight_arrival" %}</h1>
{% get_chunk 'pilot_info_arrival' as arrival_chunk %}
{% render arrival_chunk.content as arrival%}
{{arrival.content | safe }}

<h1>{% trans "str_Microlight_departure" %}</h1>
{% get_chunk 'pilot_info_departure' as departure %}
{{ departure.content | safe}}

<h1>{% trans "str_Powered_paraglider_procedure" %}</h1>
{% get_chunk 'pilot_info_paramotor' as paramotor %}
{{ paramotor.content | safe}}

<h1>{% trans "str_Plane_procedure" %}</h1>
{% get_chunk 'pilot_info_plane' as plane %}
{{ plane.content | safe}}
{% endblock %}
