{% extends "base_generic.html" %}

{% block content%}
{% if messages %}

    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="w3-panel w3-pale-red w3-border w3-container w3-card-4 w3-center">
        {{ message }}
      </div>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="w3-panel w3-pale-green w3-border w3-container w3-card-4 w3-center">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}

{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_table }}
  <button type="submit">Save changes</button>
</form>
{% endblock %}
