{% load static %}<!DOCTYPE html>
<html lang="en">
<title>{% block title %}Salon ULM de Blois{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/w3.css' %}" rel="stylesheet">
<link href="{% static 'css/w3-theme-black.css' %}" rel="stylesheet">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
{% block style %}
{% endblock %}
</style>
<body>


{% include 'navbar.html'%}


<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="content w3-padding-64 w3-container">

  {% block content %}
  {% endblock %}

<!-- END MAIN -->
</div>

{% include 'footer.html' %}

</body>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascript %}
{% endblock %}

</html>
