{% extends "base_logged.html" %}
{% load i18n %}


{% block content %}
<div class="d-flex justify-content-center text-center">
<form method="post">
    {% csrf_token %}
    {# Translators: contain variable %(object)s #}
    <p>{% blocktrans %}str_confirm_deletion{% endblocktrans%}</p>
    <p>{% trans 'str_Action_can_not_be_canceled' %}</p>
    <input type="submit" value="Confirm" class="btn btn-danger">
    <a class="btn btn-primary" href="{{cancel_url}}">{%trans 'str_Cancel'%}</a>
</form>
</div>

{% endblock %}
