{% extends "base_generic.html" %}
{% load chunks %}
{% load i18n %}
{% load static %}
{% block header%}
<h1>{{meeting}}</h1>
<p class="lead">
{# Translators: contain the meeting start date as %(start)s and end date as %(end)s#}
{% blocktrans with start=meeting.start_date end=meeting.end_date%}From the {{start}}, to the {{end}}.{% endblocktrans  %}
</p>
<hr class="my-4">
<!-- TODO Add images -->
{% endblock %}

{% block content%}

{% get_chunk 'presentation_short' as presentation %}
{{presentation.content | safe}}
<br>
<div class="row text-center">
<div class="col-lg-3">
  <div class="card h-100">
    <img class="card-img-top" src="{% static 'img/pendular_2.JPG'%}" alt="">
    <div class="card-body">
      <h4 class="card-title">{% trans "str_Microlight_pilot"%}</h4>
      {% get_chunk 'ulm_pilot_short' as ulm_pilot %}

      <p class="card-text">{{ulm_pilot.content | safe}}</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'login' %}" class="btn btn-primary">{% trans 'str_Sign_In'%}</a>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card h-100">
    <img class="card-img-top" src="{% static 'img/flex_wing_4.JPG'%}" alt="">
    <div class="card-body">
      <h4 class="card-title">{% trans "str_Paramotor_pilot"%}</h4>
      {% get_chunk 'paramotor_pilot_short' as paramotor_pilot %}

      <p class="card-text">{{ paramotor_pilot.content | safe}}</p>
    </div>
    <div class="card-footer">
      <!-- TODO add link -->
      <a href="#" class="btn btn-primary">{% trans 'str_Download_form'%}</a>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card h-100">
    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
    <div class="card-body">
      <h4 class="card-title">{% trans "str_PPL_pilot"%}</h4>
      {% get_chunk 'ppl_pilot_short' as ppl_pilot %}

      <p class="card-text">{{ppl_pilot.content | safe}}</p>
    </div>
    <div class="card-footer">
      <!-- TODO add link -->
      <a href="#" class="btn btn-primary">{% trans 'str_Register'%}</a>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card h-100">
    <img class="card-img-top" src="{% static 'img/ground_1.JPG'%}" alt="">
    <div class="card-body">
      <h4 class="card-title">{% trans "str_Exhibitor"%}</h4>
      {% get_chunk 'exhibitor_short' as exhibitor %}

      <p class="card-text">{{ exhibitor.content | safe}}</p>
    </div>
    <div class="card-footer">
      <!-- TODO add link -->
      <a href="#" class="btn btn-primary">{% trans 'str_Find_out_more' %}</a>
    </div>
  </div>
</div>
</div>
<br>
{% get_chunk 'presentation_short_2' as presentation_2 %}
{{presentation_2.content | safe}}

{% endblock%}
