{% extends "base_logged.html" %}
{% load static %}
{% load i18n %}
{% load chunks %}

{% block page_title %}
{% trans "Welcome!" %}
{% endblock %}


{% block content %}

{% get_chunk 'registration_procedure_1' as registration_1 %}
{{ registration_1.content | safe }}
<div class="text-center">
  <a href="{% url 'reservation_wizard_step1' pk=user.pilot.pk%}" class="btn btn-primary">{% trans "Reserve your arrival slot"%}</a>
</div>

{% get_chunk 'registration_procedure_2' as registration_2 %}
{{ registration_2.content | safe }}

{% get_chunk 'registration_procedure_3' as registration_3 %}
{{ registration_3.content | safe }}

{% endblock%}
