{% extends "base_generic.html" %}


{% block content %}
<div class="jumbotron">
    <h2>Your Reservations</h2>
    <a class="btn btn-success pull-left" role="button" href="{% url 'pilot_create_reservation' %}">
      <span class="fas fa-plus-circle"></span> Add New
    </a>

</div>



<div class="mx-4">
{% for res in reservation_list %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{res.time_slot.meeting}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{res.reservation_number}}</h6>
    {% if res.is_active %}
    <a href="{% url 'pilot_update_reservation' res.pk %}" class="btn btn-warning"><span class="fas fa-pen"></span> Edit</a>
    <a href="{% url 'pilot_delete_reservation' res.pk %}" class="btn btn-danger"><span class="fas fa-minus-circle"></span> Delete</a>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>

{% include 'pagination.html' %}

{% endblock %}
