{% extends "base_logged.html" %}
{% load i18n %}

{% block messages %}
  {% if meeting.confirmation_open and user.pilot.as_unconfirmed_reservation %}
    <div class="alert alert-warning  alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% trans 'str_alert_confirm_your_reservation'%}
    </div>
  {% elif meeting.registration_aviable%}
    <div class="alert alert-success  alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% trans 'str_alert_Reservation_open'%}
    </div>
  {% elif not meeting.registration_open%}
    <div class="alert alert-danger  alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% trans 'str_alert_Reservation_close'%}
    </div>
  {% else %}
    <div class="alert alert-danger  alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% trans 'str_alert_no_timeslot_aviable'%}
    </div>
  {% endif %}
{% endblock %}


{% block page_title%}
  {% trans "str_Your_reservations" %}
  {% if user.pilot.can_make_reservation %}
  <a class="btn btn-success" role="button" href="{% url 'pilot_create_reservation' %}">
    <span class="fas fa-plus-circle"></span>{% trans "str_Add_new" %}
  </a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="mx-4">
{% for res in reservation_list %}
<div class="card mb-3">
  <div class="card-body d-flex justify-content-between">
    <div class="">

    <h5 class="card-title">{{res.meeting}}</h5>
    {% if res.confirmed %}
    <h6 class="card-subtitle mb-2 text-muted">{{res.reservation_number}}</h6>
    {% endif %}
    {% if res.is_active %}
    <a href="{% url 'pilot_update_reservation' res.pk %}" class="btn btn-warning"><span class="fas fa-pen"></span>{% trans "str_Edit" %}</a>
    {% if not res.canceled %}
      {% if res.meeting.confirmation_open and not res.confirmed %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal{{res.pk}}"><span class="fas fa-check"></span>{% trans 'str_Confirm'%}</button>
      <!-- Confirm modal-->
        <div class="modal fade" id="confirmModal{{res.pk}}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">{% trans 'str_Confirm_reservation'%}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- TODO put related chunk -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{% url 'ajax_confirm_reservation' pk=res.pk %}" method=POST>
                  {% csrf_token %}
                  <button class="btn btn-primary"><span class="fas fa-check"></span>{% trans 'str_Confirm'%}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal{{res.pk}}"><span class="fas fa-minus-circle"></span>{% trans 'str_Cancel_reservation'%}</button>
      <!-- Cancel modal-->
        <div class="modal fade" id="cancelModal{{res.pk}}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">{% trans 'str_Cancel_reservation'%}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- TODO put related chunk -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{% url 'ajax_cancel_reservation' pk=res.pk %}" method=POST>
                  {% csrf_token %}
                  <button class="btn btn-danger"><span class="fas fa-minus-circle"></span>{% trans 'str_Cancel_reservation'%}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endif%}
    {% endif %}
    </div> <!-- End Right -->
    <div class="">
    {% if res.canceled %}
        <h5 class="text-danger">{% trans 'str_Canceled'%}</h5>
    {% elif res.confirmed %}
        <h5 class="text-primary">{% trans 'str_Confirmed'%}</h5>
    {% else %}
        <h5 class="text-secondary">{% trans 'str_Waiting_for_validation'%}</h5>
    {%endif%}
    </div>
  </div>
</div>
{% endfor %}
</div>




{% include 'pagination.html' %}

{% endblock %}
