{% extends "base_generic.html" %}


{% block content %}
<div class="w3-container">
  <div class="w3-container w3-theme w3-center">
    <h2>Profile</h2>
  </div>

  <div class="w3-container W3-half">
    <label>Licence Number:</label>
    {{pilot.licence_number}}
  </div>
  <div class="w3-container W3-half">
    <label>Insurance Number</label>
    {{pilot.insurance_number}}
  </div>

</div>
<div class="w3-container w3-right">
  <a href= "{% url 'change_password'%}" class="w3-button w3-blue">Change Password</a>
  <a href= "{% url 'edit_pilot' user.pilot.pk %}" class="w3-button w3-green">EDIT</a>
</div>

{% endblock%}
