{% extends "base_generic.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block javascript%}
<script src="{% static 'js/ajax_reservation.js' %}"></script>
{% endblock %}

{% block content %}

<h3>{% trans "Pilots Fuel Reservations" %}</h3>
<hr>

  <form method="get">
    <div class="card card-body bg-light">
    <div class="row">
      <div class="form-group col-sm">
          {{ filter.form.reservation_number.label_tag }}
          {% render_field filter.form.reservation_number class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.ulm__pilot__user__first_name.label_tag }}
          {% render_field filter.form.ulm__pilot__user__first_name class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.ulm__pilot__user__last_name.label_tag }}
          {% render_field filter.form.ulm__pilot__user__last_name class="form-control" %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm">
          {{ filter.form.ulm__imatriculation.label_tag }}
          {% render_field filter.form.ulm__imatriculation class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.ulm__radio_id.label_tag }}
          {% render_field filter.form.ulm__radio_id class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.time_slot.label_tag }}
          {% render_field filter.form.time_slot class="form-control" %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm">
          {{ filter.form.fuel_reservation.label_tag }}
          {% render_field filter.form.fuel_reservation class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.flight_plan.label_tag }}
          {% render_field filter.form.flight_plan class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.passanger.label_tag }}
          {% render_field filter.form.passanger class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.esthetic_cup.label_tag }}
          {% render_field filter.form.esthetic_cup class="form-control" %}
      </div>
      <div class="form-group col-sm">
          {{ filter.form.to_sell.label_tag }}
          {% render_field filter.form.to_sell class="form-control" %}
      </div>
    </div>


    <!-- {% include 'form.html' with form=filter.form %} -->

    <button type="submit" class="btn btn-primary">Search</button>
  </div>

  </form>


<table id="reservation_table" class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>{% trans "ID" %}</th>
    <th>{% trans "Pilot" %}</th>
    <th>{% trans "Imatriculation" %}</th>
    <th>{% trans "Radio Id" %}</th>
    <th>{% trans "Fuel Reservation" %}</th>
    <th>{% trans "Fuel Served" %}</th>
    <th class="center">{% trans "Actions" %}</th>
  </tr>
  </thead>
  <tbody>
  {% for res in reservation_list %}
  {% if res.fuel_served > 0 %}
  <tr class="table-success">
  {% else %}
  <tr>
  {% endif %}
    <td>{{res.reservation_number}}</td>
    <td>{{res.ulm.pilot}}</td>
    <td>{{res.ulm.imatriculation}}</td>
    <td>{{res.ulm.radio_id}}</td>
    <td>{{res.fuel_reservation}}</td>
    <td>{{res.fuel_served}}</td>
    <td class="center">
      <button type="button"
              class="btn btn-warning btn-sm js-update-fuel-served"
              data-url="{% url 'ajax_fuel_served' res.id %}"
              data-contener-id="modal-update-fuel">
        <span class="fas fa-pen"></span> {% trans "Validate" %}
      </button>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}


<div class="modal fade" id="modal-update-fuel">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>
{% endblock %}
