{% extends "base_logged.html" %}
{% load i18n %}


{% block content %}

<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'staff_reservation_list'%}">Arrivals</a></li>
    <li class="breadcrumb-item active"><a href="#">Validate</a></li>
  </ol>
</nav>

<h3>{% trans 'Reservation' %}: {{reservation.reservation_number}}</h3>

{% if reservation.arrival is not None %}
<div class="alert alert-success" role="alert">
  {% trans 'This reservation as been validate on:'%} {{reservation.arrival}}
</div>
{% elif not reservation.is_on_time %}
<div class="alert alert-danger" role="alert">
  {{reservation.arrival_delay }}
</div>
{% endif%}


{%  if reservation.is_missing_informations %}
<div class="alert alert-danger" role="alert">
  {% trans 'Some informations are missing in this reservation'%}
</div>
{% endif%}

<div class="card-deck">

    <div class="card">
      <h5 class="card-header">
        {% trans 'Pilot'%}
        <a href="{% url 'staff_reservation_edit_pilot' res=reservation.pk pk=reservation.ulm.pilot.pk%}"><span class="fas fa-pen float-right"></span></a>
      </h5>
      <div class="card-body">
        {% with pilot=reservation.ulm.pilot %}
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">{% trans 'First Name'%}</th>
              <td>{{pilot.user.first_name}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Last Name'%}</th>
              <td>{{pilot.user.last_name}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Licence Number'%}</th>
              <td>{{pilot.licence_number}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Insurance Company'%}</th>
              <td>{{pilot.insurance_company}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Insurance Number'%}</th>
              <td>{{pilot.insurance_number}}</td>
            </tr>
          </tbody>
        </table>
        {% endwith%}
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">
        {% trans 'Reservation'%}
        <a href="{% url 'staff_reservation_edit' reservation.pk%}"><span class="fas fa-pen float-right"></span></a>
      </h5>
      <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">{% trans 'Time Slot'%}</th>
                <td>{{reservation.time_slot}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'Fuel'%}</th>
                <td>{{reservation.fuel_reservation}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'Flight Plan'%}</th>
                <td>{{reservation.flight_plan}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'Passanger'%}</th>
                <td>{{reservation.passanger}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'Esthetic Cup'%}</th>
                <td>{{reservation.esthetic_cup}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'For Sale' %}</th>
                <td>{{reservation.for_sale}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div class="card">
      <h5 class="card-header">
        {% trans 'ULM'%}
        <a href="{% url 'staff_reservation_edit_ulm' res=reservation.pk pk=reservation.ulm.pk%}"><span class="fas fa-pen float-right"></span></a>
      </h5>
      <div class="card-body">
        {% with ulm=reservation.ulm %}
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">{% trans 'constructor'%}</th>
              <td>{{ulm.constructor}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Model'%}</th>
              <td>{{ulm.model}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Type' %}</th>
              <td>{{ulm.type}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Immatriculation Country'%}</th>
              <td>{{ulm.imatriculation_country}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Imatriculation'%}</th>
              <td>{{ulm.imatriculation}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Radion Id'%}</th>
              <td>{{ulm.radio_id}}</td>
            </tr>
          </tbody>
        </table>
        {% endwith%}
      </div>
  </div>

</div>

<div class="row mt-3">
<div class="col">
  <a href="{% url 'staff_reservation_validate' reservation.pk %}" class="btn btn-success">Validate</a>
  <button type="button" name="print_btn" class="btn btn-warning">Print</button>
</div>
</div>

{% endblock %}
