{% extends "base_logged.html" %}
{% load i18n %}
{% load static %}


{% block javascript%}
<script src="{% static 'js/print.min.js' %}"></script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/print.min.css' %}">
{% endblock %}


{% block content %}
<h3>{% trans 'str_Reservation' %}: {{reservation.reservation_number}}</h3>

{% if reservation.arrival is not None %}
<div class="alert alert-success" role="alert">
  {% trans 'str_alert_Reservation_validate_on'%}: {{reservation.arrival}}
</div>
{% elif not reservation.is_on_time %}
<div class="alert alert-danger" role="alert">
  {{reservation.arrival_delay }}
</div>
{% endif%}


{%  if reservation.is_missing_informations %}
<div class="alert alert-danger" role="alert">
  {% trans 'str_alert_Reservation_missing_information'%}
</div>
{% endif%}

<div class="card-deck">

    <div class="card">
      <h5 class="card-header">
        {% trans 'str_Pilot'%}
        <a href="{% url 'staff_reservation_edit_pilot' res=reservation.pk pk=reservation.pilot.pk%}"><span class="fas fa-pen float-right"></span></a>
      </h5>
      <div class="card-body">
        {% with pilot=reservation.pilot %}
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">{% trans 'str_First_name'%}</th>
              <td>{{pilot.user.first_name}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Last_name'%}</th>
              <td>{{pilot.user.last_name}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Licence_number'%}</th>
              <td>{{pilot.licence_number}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Insurance_company'%}</th>
              <td>{{pilot.insurance_company}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Insurance_number'%}</th>
              <td>{{pilot.insurance_number}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Phone_number'%}</th>
              <td>{{pilot.phone_number}}</td>
            </tr>
          </tbody>
        </table>
        {% endwith%}
      </div>
    </div>

    <div class="card">
      {% with modalid="ReservationModal"%}
      <h5 class="card-header">
        <div class="d-flex w-100 justify-content-between">
        {% trans 'str_Reservation'%}
        <div class="">
          {% include 'includes/elements/reservation_status_badge.html' with res=reservation %}
        </div>
        <div class="">
          <a href="#{{modalid}}"  data-toggle="modal" data-target="#{{modalid}}" ><i class="fas fa-search"></i></a>
          <a href="{% url 'staff_reservation_edit' reservation.pk%}" ><i class="fas fa-pen"></i></a>
        </div>
        </div>
      </h5>
      <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">{% trans 'str_Time_slot'%}</th>
                <td>{{reservation.time_slot}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'str_Fuel'%}</th>
                <td>{{reservation.fuel_reservation}}</td>
              </tr>
              <tr>
                <th scope="row">{% trans 'str_Flight_plan'%}</th>
                {% with flight_plan=reservation.flight_plan|yesno:"Yes,No" %}
                <td>{% trans flight_plan %}</td>
                {% endwith %}
              </tr>
              <tr>
                <th scope="row">{% trans 'str_Passanger'%}</th>
                {% with passanger=reservation.passanger|yesno:"Yes,No" %}
                <td>{% trans passanger %}</td>
                {% endwith %}
              </tr>
              <tr>
                <th scope="row">{% trans 'str_Esthetic_cup'%}</th>
                {% with esthetic_cup=reservation.esthetic_cup|yesno:"Yes,No" %}
                <td>{% trans esthetic_cup %}</td>
                {% endwith %}
              </tr>
              <tr>
                <th scope="row">{% trans 'str_For_sale' %}</th>
                {% with for_sale=reservation.for_sale|yesno:"Yes,No" %}
                <td>{% trans for_sale %}</td>
                {% endwith %}
              </tr>
            </tbody>
          </table>
      </div>

      {% include 'includes/elements/reservation_detail_modal.html' with res=reservation id=modalid%}
      {% endwith %}
    </div>

    <div class="card">
      <h5 class="card-header">
        {% trans 'str_ULM'%}
        <a href="{% url 'staff_reservation_edit_ulm' res=reservation.pk pk=reservation.ulm.pk%}"><span class="fas fa-pen float-right"></span></a>
      </h5>
      <div class="card-body">
        {% with ulm=reservation.ulm %}
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">{% trans 'str_Constructor'%}</th>
              <td>{{ulm.constructor}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Model'%}</th>
              <td>{{ulm.model}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Type' %}</th>
              <td>{{ulm.type}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Imatriculation_country'%}</th>
              <td>{{ulm.imatriculation_country}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Imatriculation'%}</th>
              <td>{{ulm.imatriculation}}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'str_Radio_id'%}</th>
              <td>{{ulm.radio_id}}</td>
            </tr>
          </tbody>
        </table>
        {% endwith%}
      </div>
  </div>

</div>

<div class="row mt-3">
<div class="col">
  {% if reservation.arrival is None %}
    <a href="{% url 'staff_reservation_validate' reservation.pk %}" class="btn btn-success">{% trans 'str_Validate'%}</a>
  {% else %}
    <a href="{% url 'staff_reservation_invalidate' reservation.pk %}" class="btn btn-danger">{% trans 'str_Invalidate'%}</a>
    {% with label="label"|add:reservation.reservation_number%}
      {% include 'includes/elements/label.html' with label=label res=reservation%}
      <button type="button" onclick="printJS('{{label}}', 'html')" class="btn btn-warning">{% trans "str_Print" %}</button>
    {% endwith %}
  {% endif %}
    <br>
    <hr>
    <a href="{% url 'ajax_staff_cancel_reservation' reservation.pk %}" class="btn btn-danger">{% trans 'str_Cancel'%}</a>
    <a href="{% url 'ajax_staff_confirm_reservation' reservation.pk %}" class="btn btn-primary">{% trans 'str_Confirm_reservation'%}</a>
</div>
</div>

{% endblock %}
