{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block javascript%}
<script src="{% static 'js/ajax_reservation.js' %}"></script>
{% endblock %}

{% block content %}

<h3>{% trans "Pilots Reservations" %}</h3>
<hr>

<form method="get">
  <div class="card card-body bg-light">
  <div class="row">
    <div class="form-group col-sm">
        {{ filter.form.reservation_number.label_tag }}
        {% render_field filter.form.reservation_number class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.ulm__pilot__user__first_name.label_tag }}
        {% render_field filter.form.ulm__pilot__user__first_name class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.ulm__pilot__user__last_name.label_tag }}
        {% render_field filter.form.ulm__pilot__user__last_name class="form-control" %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm">
        {{ filter.form.ulm__imatriculation.label_tag }}
        {% render_field filter.form.ulm__imatriculation class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.ulm__radio_id.label_tag }}
        {% render_field filter.form.ulm__radio_id class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.time_slot.label_tag }}
        {% render_field filter.form.time_slot class="form-control" %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm">
        {{ filter.form.fuel_reservation.label_tag }}
        {% render_field filter.form.fuel_reservation class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.flight_plan.label_tag }}
        {% render_field filter.form.flight_plan class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.passanger.label_tag }}
        {% render_field filter.form.passanger class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.esthetic_cup.label_tag }}
        {% render_field filter.form.esthetic_cup class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.to_sell.label_tag }}
        {% render_field filter.form.to_sell class="form-control" %}
    </div>
  </div>


  <!-- {% include 'form.html' with form=filter.form %} -->

  <button type="submit" class="btn btn-primary">Search</button>
</div>

</form>

<table id="reservation_table" class="table table-hover">
  <thead class="thead-dark">
    <tr>
    <th>{% trans "ID" %}</th>
    <th>{% trans "Time Slot" %}</th>
    <th>{% trans "Pilot" %}</th>
    <th>{% trans "Imatriculation" %}</th>
    <th>{% trans "Radio Id" %}</th>
    <th>{% trans "Fuel" %}</th>
    <th>{% trans "Flight plan" %}</th>
    <th>{% trans "Esthetic Cup" %}</th>
    <th class="center">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for res in reservation_list %}
  {% if res.arrival is None %}
  <tr>
  {% else %}
  <tr class="table-success">
  {% endif %}
    <td>{{res.reservation_number}}</td>
    <td>{{res.time_slot}}</td>
    <td>{{res.ulm.pilot}}</td>
    <td>{{res.ulm.imatriculation}}</td>
    <td>{{res.ulm.radio_id}}</td>
    <td>{{res.fuel_reservation}}</td>
    <td>{{res.flight_plan}}</td>
    <td>{{res.esthetic_cup}}</td>
    <td class="center">
      <a href="#" class="btn btn-success">{% trans "Validate" %}</a>
      <!-- <a href="{% url 'staff_edit_reservation' res.pk %}" class="btn btn-primary">Edit</a> -->
      <a href="#" class="btn btn-warning">{% trans "Print" %}</a>
      <button type="button"
              class="btn btn-primary btn-sm js-update-reservation"
              data-url="{% url 'staff_edit_reservation' res.pk %}"
              data-contener-id="modal-update-reservation">
        <span class="fas fa-pen"></span>{% trans "Edit" %}
      </button>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

<div class="modal fade" id="modal-update-reservation">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

      </div>
    </div>
</div>
{% endblock %}
