{% extends "base_generic.html" %}
{% load widget_tweaks %}


{% block content %}

<h3>Pilots Reservations</h3>
<hr>

<form method="get">
  <div class="card card-body bg-light">
  <div class="row">
    <div class="form-group col-sm">
        {{ filter.form.reservation_number.label_tag }}
        {% render_field filter.form.reservation_number class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.ulm__pilot__user__first_name.label_tag }}
        {% render_field filter.form.ulm__pilot__user__first_name class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.ulm__pilot__user__last_name.label_tag }}
        {% render_field filter.form.ulm__pilot__user__last_name class="form-control" %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm">
        {{ filter.form.ulm__imatriculation.label_tag }}
        {% render_field filter.form.ulm__imatriculation class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.ulm__radio_id.label_tag }}
        {% render_field filter.form.ulm__radio_id class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.time_slot.label_tag }}
        {% render_field filter.form.time_slot class="form-control" %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm">
        {{ filter.form.fuel_reservation.label_tag }}
        {% render_field filter.form.fuel_reservation class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.flight_plan.label_tag }}
        {% render_field filter.form.flight_plan class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.passanger.label_tag }}
        {% render_field filter.form.passanger class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.esthetic_cup.label_tag }}
        {% render_field filter.form.esthetic_cup class="form-control" %}
    </div>
    <div class="form-group col-sm">
        {{ filter.form.to_sell.label_tag }}
        {% render_field filter.form.to_sell class="form-control" %}
    </div>
  </div>


  <!-- {% include 'form.html' with form=filter.form %} -->

  <button type="submit" class="btn btn-primary">Search</button>
</div>

</form>

<table id="reservation_table" class="w3-table w3-striped w3-bordered w3-hoverable">
  <tr class="w3-theme">
    <th>ID</th>
    <th>Time Slot</th>
    <th>pilot</th>
    <th>Imatriculation</th>
    <th>radio id</th>
    <th>Fuel</th>
    <th>Flight plan</th>
    <th>Esthetic Cup</th>
    <th class="w3-center">Actions</th>
  </tr>
  {% for res in reservation_list %}
  {% if res.arrival is None %}
  <tr>
  {% else %}
  <tr class="w3-pale-green">
  {% endif %}
    <td>{{res.reservation_number}}</td>
    <td>{{res.time_slot}}</td>
    <td>{{res.ulm.pilot}}</td>
    <td>{{res.ulm.imatriculation}}</td>
    <td>{{res.ulm.radio_id}}</td>
    <td>{{res.fuel_reservation}}</td>
    <td>{{res.flight_plan}}</td>
    <td>{{res.esthetic_cup}}</td>
    <td class="w3-center">
      <a href="#" class="w3-button w3-green w3-hover-white">Validate</a>
      <a href="{% url 'staff_edit_reservation' res.pk %}" class="w3-button w3-blue w3-hover-white">Edit</a>
      <a href="#" class="w3-button w3-purple w3-hover-white">Print</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% include 'pagination.html' %}

{% endblock %}
