{% extends "base_logged.html" %}
{% load static %}
{% load i18n %}

{% block javascript%}
<script src="{% static 'js/ajax_reservation.js' %}"></script>
<script src="{% static 'js/print.min.js' %}"></script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/print.min.css' %}">
{% endblock %}

{% block page_title %}
{% trans "str_Pilots_reservations" %}
{% endblock %}

{% block content %}

{% include 'includes/filters/reservations_filter.html' with filter=filter%}

<table id="reservation_table" class="table table-hover">
  <thead class="thead-dark">
    <tr>
    <th>{% trans "str_Reservation_number" %}</th>
    <th>{% trans "str_Time_slot" %}</th>
    <th>{% trans "str_Pilot" %}</th>
    <th>{% trans "str_Imatriculation" %}</th>
    <th>{% trans "str_Radio_id" %}</th>
    <th>{% trans "str_Fuel" %}</th>
    <th>{% trans "str_Flight_plan" %}</th>
    <th>{% trans "str_Status" %}</th>
    <th class="center">{% trans "str_Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for res in reservation_list %}
  {% if res.arrival is None %}
  <tr>
  {% else %}
  <tr class="table-success">
  {% endif %}
    <td>{{res.reservation_number}}</td>
    <td>{{res.time_slot}}</td>
    <td>{{res.pilot}}</td>
    <td>{{res.ulm.imatriculation}}</td>
    <td>{{res.ulm.radio_id}}</td>
    <td>{{res.fuel_reservation}}</td>
    {% with flight_plan=res.flight_plan|yesno:"Yes,No" %}
    <td>{% trans flight_plan %}</td>
    {% endwith %}
    <td>
      {% if res.canceled %}
          <span class="badge badge-pill badge-danger">{% trans 'str_Canceled'%}</span>
      {% elif res.confirmed %}
          <span class="badge badge-pill badge-primary">{% trans 'str_Confirmed'%}</span>
      {% else %}
          <span class="badge badge-pill badge-secondary">{% trans 'str_Waiting_for_validation'%}</span>
      {%endif%}
    </td>
    <td class="center">
      {% if res.ulm is not None %}
        <a href="{% url 'staff_reservation_overview' res.pk %}" class="btn btn-primary">{% trans "str_Validate" %}</a>
        {% with label="label"|add:res.reservation_number%}
          <div style="display:none" >
            <div class="" id="{{label}}" style="text-align:center;padding-top:10%">
                {{res.pilot}}
                <br>
                {{res.ulm}}
            </div>
          </div>
          <button type="button" onclick="printJS('{{label}}', 'html')" class="btn btn-warning">{% trans "str_Print" %}</button>
        {% endwith %}
      {% else %}
      <!-- TODO canceled reservation and no ulm -->
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

<div class="modal fade" id="modal-update-reservation">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

      </div>
    </div>
</div>
{% endblock %}
