{% extends "base_generic.html" %}
{% load static %}
{% block javascript%}
<script src="{% static 'js/ajax_reservation.js' %}"></script>
{% endblock %}

{% block content %}
<div class="w3-container">
  <div class="w3-container w3-half">
    <b class="w3-xlarge">Pilots Fuel Reservations</b>
  </div>
</div>
<div class="w3-container">
  <hr>
</div>

<table id="reservation_table" class="w3-table w3-striped w3-bordered w3-hoverable">
  <tr class="w3-theme">
    <th>ID</th>
    <th>pilot</th>
    <th>Imatriculation</th>
    <th>radio id</th>
    <th>Fuel Reservation</th>
    <th>Fuel Served</th>
    <th class="w3-center">Actions</th>
  </tr>
  {% for res in reservation_list %}
  {% if res.fuel_served > 0 %}
  <tr class="w3-pale-green">
  {% else %}
  <tr>
  {% endif %}
    <td>{{res.reservation_number}}</td>
    <td>{{res.ulm.pilot}}</td>
    <td>{{res.ulm.imatriculation}}</td>
    <td>{{res.ulm.radio_id}}</td>
    <td>{{res.fuel_reservation}}</td>
    <td>{{res.fuel_served}}</td>
    <td class="w3-center">
      <button type="button"
              class="btn btn-warning btn-sm js-update-fuel-served"
              data-url="{% url 'ajax_fuel_served' res.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Validate
</button>
    </td>
  </tr>
  {% endfor %}
</table>

{% include 'pagination.html' %}


<div class="modal fade" id="modal-fuel-served">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>
{% endblock %}
