{% load i18n %}

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row text-white">
        <div class="col-sm">
            <h5>{% trans "str_Get_started" %}</h5>
            <ul>
                <li><a href="{% url 'index' %}">{% trans "str_Home" %}</a></li>
                <li><a href="{% url 'signup'%}">{% trans "str_Sign_up" %}</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <h5>{% trans "str_About_us" %}</h5>
            <ul>
                <li><a href="{% url 'about'%}">{% trans "str_About" %}</a></li>
                <li><a href="{% url 'contact'%}">{% trans "str_Contact_us" %}</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <h5>{% trans "str_Support" %}</h5>
            <ul>
                <li><a href="{% url 'faq'%}">{% trans "str_FAQ" %}</a></li>
                <li><a href="{% url 'on_site'%}">{% trans "str_On_site" %}</a></li>
                <li><a href="{% url 'pilot_informations'%}">{% trans "str_Pilots_information" %}</a></li>
                <li><a href="{% url 'slot_aviable'%}">{% trans 'str_Timeslot_aviable'%}</a></li>
            </ul>
        </div>
        <div class="col-sm">
          <h5>{% trans "str_Legal" %}</h5>
          <ul>
            <li><a href="{% url 'privacy' %}">{% trans "str_Privacy_policies" %}</a></li>
            <li><a href="{% url 'copyright' %}">{% trans "str_Copyright_notices" %}</a></li>
            <li><a href="{% url 'terms' %}">{% trans "str_Legal_terms" %}</a></li>
          </ul>
        </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
