{% load i18n %}

{% with url_name=request.resolver_match.url_name %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ULMBLois</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logged_index' %}">
      <i class="fas fa-fw fa-home"></i>
      <span>{% trans "Home" %}</span></a>
  </li>

{% if perms.meeting.reservation_validation %}
<hr class="sidebar-divider">
  <li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseManagement" aria-expanded="true" aria-controls="collapseManagement">
      <i class="fas fa-fw fa-folder"></i>
      <span>{% trans "Management" %}</span>
    </a>
    <div id="collapseManagement" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">{% trans "General:" %}</h6>
        <a class="collapse-item {% if url_name == 'staff_ulm_list' %}active{% endif %}" href="{% url 'staff_ulm_list'%}">
          <i class="fas fa-fw fa-search"></i>
          <span>{% trans "Search ULM" %}</span>
        </a>
        <a class="collapse-item {% if url_name == 'staff_pilot_list' %}active{% endif %}" href="{% url 'staff_pilot_list'%}">
          <i class="fas fa-fw fa-search"></i>
          <span>{% trans "Search Pilot" %}</span>
        </a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">{% trans "Arrivals & Fuel:" %}</h6>
        <a class="collapse-item {% if url_name == 'staff_reservation_list' %}active{% endif %}" href="{% url 'staff_reservation_list'%}">
          <i class="fas fa-fw fa-plane-arrival"></i>
          <span>{% trans "Pilot Reservations" %}</span>
        </a>
        <a class="collapse-item {% if url_name == 'staff_fuel_res_list' %}active{% endif %}" href="{% url 'staff_fuel_res_list'%}">
          <i class="fas fa-fw fa-gas-pump"></i>
          <span>{% trans "Fuel Reservations" %}</span>
        </a>
      </div>
    </div>
  </li>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    {% trans "My Account"%}
  </div>
  <li class="nav-item {% if url_name == 'pilot' %}active{% endif %}">
    <a class="nav-link" href="{% url 'pilot' user.pilot.pk%}">
      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
      {% trans "Profile" %}
    </a>
  </li>
  <li class="nav-item {% if url_name == 'pilot_reservation' %}active{% endif %}">
    <a class="nav-link" href="{% url 'pilot_reservation' %}">
      <i class="fas fa-fw fa-th-list"></i>
      <span>{% trans "My Reservations" %}</span></a>
  </li>
  <li class="nav-item {% if url_name == 'pilot_ulm_list' %}active{% endif %}">
    <a class="nav-link" href="{% url 'pilot_ulm_list' %}">
      <i class="fas fa-fw fa-plane"></i>
      <span>{% trans "My ULMs" %}</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    {% trans "Other" %}
  </div>

  <li class="nav-item {% if url_name == 'on_site' %}active{% endif %}">
    <a class="nav-link" href="{% url 'on_site'%}">
      <i class="fas fa-fw fa-map-marker-alt"></i>
      <span>{% trans "On Site" %}</span></a>
  </li>

  <li class="nav-item {% if url_name == 'pilot_informations' %}active{% endif %}">
    <a class="nav-link" href="{% url 'pilot_informations'%}">
      <i class="fas fa-fw fa-info"></i>
      <span>{% trans "Pilotes Informations" %}</span></a>
  </li>

  <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
    <a class="nav-link" href="{% url 'about'%}">
      <i class="fas fa-fw fa-info-circle"></i>
      <span>{% trans "About" %}</span></a>
  </li>

  <li class="nav-item {% if url_name == 'contact' %}active{% endif %}">
    <a class="nav-link" href="{% url 'contact'%}">
      <i class="fas fa-fw fa-comment"></i>
      <span>{% trans "Contact" %}</span></a>
  </li>

  <li class="nav-item {% if url_name == 'faq' %}active{% endif %}">
    <a class="nav-link" href="{% url 'faq'%}">
      <i class="fas fa-fw fa-question-circle"></i>
      <span>{% trans "FAQ"%}</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{% endwith %}
