{% extends "emails/base_email.html"%}
{% load i18n %}
{% load chunks %}

<!-- TODO: a completer  -->

{% block content %}
{% get_chunk 'email_res_confirm_body_1' as body_1 %}

{% include 'emails/includes/base/text_row_with_title.html' with text=body_1.content%}

{% url 'index' as link_index%}
{% trans "Confirmation" as link_text%}
{% include 'emails/includes/base/button_row.html' with link=link_index text=link_text%}

{% include 'emails/includes/base/divider_row.html'%}

{% get_chunk 'email_res_confirm_body_2' as body_2 %}

{% include 'emails/includes/base/text_row_with_title.html' with text=body_2.content%}

{% endblock %}
