{% load i18n %}

{% if meeting %}
  <table class='table'>
    {% for ts in ts_table %}
      {% if forloop.first%}
      <thead class=thead-dark>
        <tr>
          {% for d in ts%}
            <th>{{d}}</th>
          {% endfor %}
        </tr>
      </thead>
      {% else %}
        <tr>
        {% for t in ts%}
          <th class="table-{% if t in ts_aviables%}success{% elif t %}danger{% else %}secondary{%endif%}">
            {% if t %}
            {{t.str_range}} {% if perms.meeting.reservation_validation %}- {{t.arrivals_count}}/{{t.arrivals_slots}}{% endif %}
            {% else %}
            -
            {% endif %}
          </th>
        {% endfor %}
        <tr>
      {% endif %}
    {% endfor %}
  </table>
{% endif%}
