{% load i18n %}
{% load countries %}

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr role="row">
        <th scope="row">{% trans 'str_First_name'%}</th>
        <td>{{pilot.user.first_name}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Last_name'%}</th>
        <td>{{pilot.user.last_name}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Licence_number'%}</th>
        <td>{{pilot.licence_number}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Insurance_company'%}</th>
        <td>{{pilot.insurance_company}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Insurance_number'%}</th>
        <td>{{pilot.insurance_number}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Phone_number'%}</th>
        <td>{{pilot.phone_number}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Postal_address'%}</th>
        <td>{{pilot.street_name}}<br>{{pilot.mail_complement}}<br>{{pilot.city_code}} {{pilot.city}}<br>{% get_country pilot.country as country%}{{country.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
