{% load i18n %}
{% if res%}
  {% with big=big|default:False %}
    {% if big %}
      <h3>
    {% endif%}
    {% if res.arrival %}
        <span class="badge badge-pill badge-success">{% trans 'str_Arrived'%}</span>
    {% elif res.canceled %}
        <span class="badge badge-pill badge-danger">{% trans 'str_Canceled'%}</span>
    {% elif res.confirmed %}
        <span class="badge badge-pill badge-primary">{% trans 'str_Confirmed'%}</span>
    {% else %}
        <span class="badge badge-pill badge-secondary">{% trans 'str_Waiting_for_validation'%}</span>
    {%endif%}
    {% if big %}
      </h3>
    {% endif%}
  {% endwith %}
{% endif %}
