{% load i18n %}

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr role="row">
        <th scope="row">{% trans 'str_Meeting'%}</th>
        <td>{{res.meeting}}</td>
        <th scope="row">{% trans 'str_Reservation_number'%}</th>
        <td>{{res.reservation_number}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Pilot'%}</th>
        <td>{{res.pilot}}</td>
        <th scope="row">{% trans 'str_Ulm'%}</th>
        <td>{{res.ulm}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Arrival_slot'%}</th>
        <td>{{res.time_slot}}</td>
        <th scope="row">{% trans 'str_Departure_slot'%}</th>
        <td>{{res.depart_time_slot}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Flight_plan'%}</th>
        {% with flight_plan=res.flight_plan|yesno:"Yes,No" %}
        <td>{% trans flight_plan %}</td>
        {% endwith %}
        <th scope="row">{% trans 'str_Passanger'%}</th>
        {% with passanger=res.passanger|yesno:"Yes,No" %}
        <td>{% trans passanger %}</td>
        {% endwith %}
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Esthetic_cup'%}</th>
        {% with esthetic_cup=res.esthetic_cup|yesno:"Yes,No" %}
        <td>{% trans esthetic_cup %}</td>
        {% endwith %}
        <th scope="row">{% trans 'str_For_sale'%}</th>
        {% with for_sale=res.for_sale|yesno:"Yes,No" %}
        <td>{% trans for_sale %}</td>
        {% endwith %}
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Origin_city_code'%}</th>
        <td>{{res.origin_city_code}}</td>
        <th scope="row">{% trans 'str_Origin_field'%}</th>
        <td>{{res.origin_field}}</td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Fuel_reservation'%}</th>
        <td>{{res.fuel_reservation}}</td>
        <th scope="row">{% trans 'str_Fuel_reservation_confirmed'%}</th>
        {% with fuel_reservation_confirmed=res.fuel_reservation_confirmed|yesno:"Yes,No" %}
        <td>{% trans fuel_reservation_confirmed %}</td>
        {% endwith %}
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Fuel_advance'%}</th>
        <td>{{res.fuel_advance}}</td>
        <th scope="row">{% trans 'str_Fuel_served'%}</th>
        {% with fuel_served=res.fuel_served|yesno:"Yes,No" %}
        <td>{% trans fuel_served %}</td>
        {% endwith %}
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Reservation_confirmed'%}</th>
        {% with confirmed=res.confirmed|yesno:"Yes,No" %}
        <td>{% trans confirmed %}</td>
        {% endwith %}
        <th scope="row">{% trans 'str_Reservation_canceled'%}</th>
        {% with canceled=res.canceled|yesno:"Yes,No" %}
        <td>{% trans canceled %}</td>
        {% endwith %}
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Arrival'%}</th>
        {% with arrival=res.arrival|default_if_none:"No" %}
        <td>{% trans arrival %}</td>
        {% endwith %}
        <th role="row"></th>
        <td></td>
      </tr>
      <tr role="row">
        <th scope="row">{% trans 'str_Creation_date'%}</th>
        <td>{{res.creation_date}}</td>
        <th scope="row">{% trans 'str_Modification_date'%}</th>
        <td>{{res.modification_date}}</td>
      </tr>
    </tbody>
  </table>
</div>
